{# Default page #}

{% extends "layout/base.twig" %}

{% set mainClass = ['page-' ~ post.slug] %}
{% set bodyClass = [''] %}

{% block main %}
  <div class="page-header-offset"></div>

  <header class="hero relative">
    <div class="absolute w-full md:-mt-8 lg:-mt-12p5 top-0 z-10">
      <div class="container">
      <div class="row">
        <div class="col w-20/24 md:w-11/24 ml-1/24 lg:w-11/24">
          {% include "svg/ekp.twig" %}
        </div>
      </div>
      </div>
    </div>
    <div class="container pt-10 md:pt-0 w-full h-full">
      <div class="relative w-full h-full">

        {% include "components/lazy-image.twig" with {
          ratio: 'fit',
          image: post.meta('headerImage')
        } %}

      </div>
    </div>
  </header>

  <div class="hidden lg:block sticky-wrapper relative">
    <div class="sticky-container absolute pointer-events-none inset-0 z-10">
    <div class="container w-full h-full">
      <div class="sticky w-7/24 top-0 mr-1/48 ml-auto pt-1/24">
        <div class="w-full bg-white-85 pointer-events-auto p-1/48 pb-1/24">
          <h3 class="h3 mb-12">{{ post.meta('ctaBlock').header|nl2br }}</h3>
          <div class="p3 mb-10 max-w-sm">
            {{ post.meta('ctaBlock').text }}
          </div>
          <a href="https://account.ekp-denbosch.nl" target="_blank" class="button">enquête</a>
        </div>
      </div>
    </div>
    </div>

    <section class="section">
      <div class="container mb-64">
        <div class="row">
          <div class="col w-13/24 ml-1/24">
            <p class="p-db mb-8">'s-Hertogenbosch</p>
            <h1 class="h2 mb-30">{{post.meta('introduction').title}}</h1>
            <div class="p0">
              {{ post.meta('introduction').text }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="block lg:hidden">
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col w-22/24 md:w-21/24 md:ml-1/24">
            <p class="p3 mb-8" style="font-size: 18px">'s-Hertogenbosch</p>
            <h1 class="h2 mb-30">{{ post.meta('introduction').title }}</h1>
            <div class="p0">
              {{ post.meta('introduction').text }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section relative z-10 md:mb-20">
      <div class="container">
        <div class="row">
          <div class="col w-22/24 md:w-10/24 ml-auto mr-0">
            <div class="w-full bg-white-85 pointer-events-auto p-2/24 md:p-1/24 pb-12">
              <h3 class="h3 mb-10">{{ post.meta('ctaBlock').header|nl2br }}</h3>
              <div class="p3 mb-10 max-w-sm">
                {{ post.meta('ctaBlock').text }}
              </div>
              <a href="https://account.ekp-denbosch.nl" target="_blank" class="button">enquête</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

    <section class="section md:-mt-64">
      <div class="container">
        <div class="row">
          <div class="col w-22/24 md:w-10/24 md:ml-1/24 lg:w-9/24 lg:ml-2/24">
            {% include "components/lazy-image.twig" with {
            size: 'portrait',
            image: post.meta('doubleImages').left.image
          } %}
            <p class="subtext">
              {{ post.meta('doubleImages').left.subtext }}
            </p>
          </div>
          <div class="col w-22/24 md:w-10/24 lg:w-9/24 md:ml-1/24 pt-1/24">
            {% include "components/lazy-image.twig" with {
            size: 'portrait',
            image: post.meta('doubleImages').right.image
          } %}
            <p class="subtext">
              {{ post.meta('doubleImages').right.subtext }}
            </p>
          </div>
        </div>
      </div>
    </section>

    <sticky-sidebar class="hidden md:block"></sticky-sidebar>
    <div id="top"></div>
    
    {% for item in post.meta('contentBlocks') %}
      
      {% if item.acf_fc_layout == 'text' %}
        {% include "content/text.twig" with {
          content: item
        } %}
      {% elseif item.acf_fc_layout == 'slider' %}
        {% include "content/slider.twig" with {
          content: item
        } %}
      {% elseif item.acf_fc_layout == 'video' %}
        {% include "content/video.twig" with {
          content: item
        } %}
      {% elseif item.acf_fc_layout == 'quote' %}
        {% include "content/quote.twig" with {
          content: item
        } %}
      {% elseif item.acf_fc_layout == 'location' %}
        {% include "content/location.twig" %}
      {% elseif item.acf_fc_layout == 'timeline' %}
        {% include "content/timeline.twig" with {
          content: item
        } %}
      {% elseif item.acf_fc_layout == 'plan' %}
        {% include "content/plan.twig" with {
          content: item
        } %}
      {% elseif item.acf_fc_layout == 'numberedColumns' %}
        {% include "content/columns.twig" with {
          content: item
        } %}
      {% elseif item.acf_fc_layout == 'ctaBlock' %}
        {% include "content/cta-block.twig" with {
          content: item
      } %}
      {% endif %}

    {% endfor %}

    {% include "content/contact.twig" with {
      content: post.meta('contact')
    } %}


{% endblock %}

{% block scripts %}{% endblock %}